// Calculator app
// Author: Łukasz Kazubek

@import "variables";
@import "mixins";



html, body {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100vh;
	font-size: 20px;
	line-height: 20px;
}
.app {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid #c0c0c0;
	@include translate(-50%, -50%);
}
.calculator {
	border: 2px solid #000000;
	background-color: $calculator-background;
	width: $calculator-width;
	& &__result {
		position: relative;
		background-color: $calculator-result-background;
		color: $calculator-result-color;
		height: $calculator-result-height;
	}
	& &__result-content {
		position: absolute;
		bottom: 0;
		right: 0;
		max-height: calc($calculator-result-height - 40px);
		text-align: right;
		padding: 0 10px 10px 0;
	}
	& &__clear, & &__settings {
		position: absolute;
		color: #000000;
		text-decoration: none;
	}
	& &__clear {
		top: 5px;
		left: 5px;
	}
	& &__settings {
		top: 5px;
		right: 5px;
	}
	& &__interface {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	& &__button {
		background-color: $calculator-button-background;
		color: $calculator-button-color;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		@include transition(500ms);
		&.calculator__button--w-50 {
			width: 50%;
			height: $calculator-width/4;
		}
		&.calculator__button--w-25 {
			width: 25%;
			height: $calculator-width/4
		}
		&:hover {
			background-color: $calculator-button-background-hovered;
			color: $calculator-button-color-hovered;
			opacity: 0.8;
		}
	}
}
