@mixin transition($ms) {
	-webkit-transition: $ms;
	transition: $ms;
}

@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin scale($x, $y) {
	-webkit-transform: scale($x, $y);
	transform: scale($x, $y);
}
