$app-background-color: #ffffff;

$calculator-background: #ffffff;
$calculator-result-background: #ffffff;
$calculator-result-color: #000000;
$calculator-interface-background: #c0c0c0;

$calculator-button-background: #000000;
$calculator-button-color: #ffffff;

$calculator-button-background-hovered: #ffffff;
$calculator-button-color-hovered: #000000;

$calculator-width: 300px;
$calculator-result-height: 180px;
